<%- include("header") -%>

<div class="box" id="heading">
  <h1>404</h1>
</div>

<div class="box">
  <p><%= textError %></p>
</div>

<div class="box">
  <a class="listsLink" href="/">See all lists</a>
</div>

<%- include("footer") -%>
